<div>
Hier nochmal die Einkaufsliste:
<% @cart_items.each do |cart_item| %>
	<%= cart_item.product.name %>
	<%= cart_item.amount %>
<% end %>
</div>

<div>
Bitte nochmal bestätigen:<br />
<%= link_to 'Jetzt bestellen!', order_create_path %>
</div>
