<% if !addresses.nil? %>
	<% addresses.each do |address| %>
		<li id="address-<%= address.id %>" class="address-list-item">
			<%= render :partial => 'addresses/address', :locals => {:address => address} %>
		</li>
	<% end %>
<% end %>