/*
 *= require_self
 *= require_tree .
*/

/* Import colors, mixins and buttons */
@import 'global';

* {
  margin:0;
  padding:0;
  
  font-family:verdana;

}

body {
  background-color:$bg-color;
}

header {
  width:1000px;

  
  margin:0 auto;
}

#content {
  width:1000px;
  height:500px;
  
  margin:0 auto;
  
  background-color:#fff;
}

footer {
  
}
