// Place all the styles related to the orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* Import colors, mixins and buttons */
@import 'global';

#categories {
  width:250px;
  height:500px;
  
  float:left;
  
  ul {
    margin-left:25px;
  }
}

#middlebox {
  width:500px;
  height:415px;
  
  padding-top:85px;
  
  float:left;

}

#cart {
  width:250px;
  height:500px;
  
  float:right;
  
  ul, li {
    list-style:none;
  }
}

#leftbanner, #rightbanner {
  height:30px;
  width:250px;
  
  margin-top:25px;
  margin-bottom:25px;

  padding-top:5px;
  padding-bottom:5px;
  
  text-align:center;
  
  color:white;
  background-color:$orange;
}

#leftbanner {
  background-image:url('leftbanner_end.png');
  background-position:right;
  background-repeat:no-repeat;
  
  box-shadow: -5px 3px 5px #888;
}

#rightbanner {
  background-image:url('rightbanner_end.png');
  background-position:left;
  background-repeat:no-repeat;
  
  box-shadow: 5px 3px 5px #888;
}