// Place all the styles related to the orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* Import colors, mixins and buttons */
@import 'global';

.clear-helper {
  clear:both;
}

#categories {
  width:250px;
  height:500px;
  
  float:left;
  
  a:link, a:visited, a:hover, a:active {
    color:#000;
    text-decoration:none;
    
  }
}

#middlebox {
  width:500px;
  height:415px;
  
  padding-top:85px;
  
  float:left;

}

#cart {
  width:250px;
  height:500px;
  
  float:right;
  
  
  
  ul {
    list-style:none;
    
    height:340px;
    overflow-x: hidden;
    overflow-y: auto;
    
    margin-bottom:25px;
  }
}

#leftbanner, #rightbanner {
  height:30px;
  width:250px;
  
  margin-top:25px;
  margin-bottom:25px;

  padding-top:5px;
  padding-bottom:5px;
  
  text-align:center;
  
  color:white;
  background-color:$orange;
}

#leftbanner {
  background-image:url('leftbanner_end.png');
  background-position:right;
  background-repeat:no-repeat;
  
  box-shadow: -5px 3px 5px #888;
}

#rightbanner {
  background-image:url('rightbanner_end.png');
  background-position:left;
  background-repeat:no-repeat;
  
  box-shadow: 5px 3px 5px #888;
}

#link-to-checkout {
  text-decoration:none;
}

.product-image-box {
   width: 200px;
}

.product-description-box {
  float:left;
  margin-right:15px;
  
}

div#form {
  
  position: relative;
  top: -350px;
  left: 250px;
  
  width: 200px;
  
  
  
  input {
    width: 30px;
    padding-left: 3px;
    
    height: 20px;
    float: right;
    

  }
  
  select {
    width: 100px;
    height: 22px;
    float: right; 
  }
  
  [type=submit] {
    width: 200px;
    height: 30px;
  }
  
  #amount-formfield {
    margin-bottom:15px;
  }
  
  #color-formfield {
    margin-bottom:15px;
  }
    
}

.product-thumbnails-box {
  margin-top:10px;
  margin-bottom:10px;
  max-height: 65px;
}

  
  
/*************************************** Buttons **************************************/
  
    
.button {
  padding: 5px 10px;
  display: inline;
  background: #777 url(button.png) repeat-x bottom;
  border: none;
  color: #fff;
  cursor: pointer;
  font-weight: bold;
  border-radius: 5px;
  text-decoration:none;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  text-shadow: 1px 1px #666;
}
.button:hover {
  background-position: 0 center;
  }
.button:active {
  background-position: 0 top;
  position: relative;
  top: 1px;
  padding: 6px 10px 4px;
  }
.button.green { background-color: #58aa00; }
.button.orange { background-color: #ff9c00; }
.button.small { font-size: 75%; padding: 3px 7px; }
.button.small:active { padding: 4px 7px 2px; background-position: 0 top; }
.button.large { font-size: 125%; padding: 7px 12px; }
.button.large:active { padding: 8px 12px 6px; background-position: 0 top; }

.button.disabled, .button.disabled:visited, .button.disabled:hover, .button.disabled:active {
  background-color: #ccc;
  background-position:bottom;
  cursor: default;
}

#new_address {
  width: 350px;
  margin-bottom:30px;
  
  label {
    font-weight: bold;
  }
  
  input, select {
    float: right;
    width: 100px;
  }
  
  [type=submit] {
    width: 200px;
    clear: both;
    margin: 0px auto;
  }
}

.address-list-item {
  cursor:pointer;
  
  color:#666;
}

.address-list-item.selected {
  color:black;
  font-weight:bold;
  margin-left:20px;
}
