// Place all the styles related to the orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#categories {
  width:250px;
  height:500px;
  
  float:left;
}

#middlebox {
  width:500px;
  height:400px;
  
  padding-top:100px;
  
  float:left;

}

#cart {
  width:250px;
  height:500px;
  
  float:right;
}

ul, li {
  list-style:none;
}

#leftbanner, #rightbanner {
  height:30px;
  width:250px;
  
  margin-top:25px;

  padding-top:5px;
  padding-bottom:5px;
  
  text-align:center;
  
  color:white;
  background-color:#ff7900;
}

#leftbanner {
  background-image:url('leftbanner_end.png');
  background-position:right;
  background-repeat:no-repeat;
}

#rightbanner {
  background-image:url('rightbanner_end.png');
  background-position:left;
  background-repeat:no-repeat;
}
